@model UniversityManagementSystemWebApp.Models.CourseAssign
@{
    //Layout = null;
    //Layout = "~/Views/Shared/_MyLayout1.cshtml";
    ViewBag.Title = "Assign Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .error {
        color: red;
    }
    .field-validation-error {
        margin-left: 140px;
        color: red;
    }
    #wrapper {
        width: 60%;
        margin: 0 auto;
    }
    input {
        width: 240px;
    }
</style>
<div id="wrapper">
    <hr/>
    <h3>Course Assign to Teacher</h3>
    <hr/>
    @using (Html.BeginForm(null, null, FormMethod.Post, new {id = "CourseAssign"}))
    {
        <div class="form-group">
            @Html.LabelFor(x => x.DepartmentId, new {@class = "col-md-3 control-label"})
            @Html.DropDownListFor(x => x.DepartmentId, new SelectList(ViewBag.Departments, "Value", "Text"), new {@class = "form-control"})
            @Html.ValidationMessageFor(x => x.DepartmentId)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.TeacherId, new {@class = "col-md-3 control-label"})
            <select id="TeacherId" name="TeacherId" class="form-control">
                <option value="">--Select--</option>
            </select>
            @Html.ValidationMessageFor(x => x.TeacherId)
        </div>
        <div class="form-group">
            @Html.Label("CreditTaken", new {@class="col-md-3 control-label"})
            @Html.TextBox("CreditTaken",null, new {@class = "form-control"})
        </div>
        <div class="form-group">
            @Html.Label("RemainingCredit", new {@class = "col-md-3 control-label"})
            @Html.TextBox("RemainingCredit",null, new {@class = "form-control"})
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.CourseCode, new {@class = "col-md-3 control-label"})
            <select id="CourseCode" name="CourseCode" class="form-control">
                <option value="">--Select--</option>
            </select>
            @Html.ValidationMessageFor(x => x.CourseCode)
        </div>
        <div class="form-group">
            @Html.Label("Name", new {@class = "col-md-3 control-label"})
            @Html.TextBox("Name",null, new {@class = "form-control"})
        </div>
        <div class="form-group">
            @Html.Label("Credit", new {@class = "col-md-3 control-label"})
            @Html.TextBox("Credit",null, new {@class = "form-control"})
        </div>
        <div class="col-md-offset-3 col-md-9">
            <input id="click" type="submit" value="Assign" class="btn btn-success" />
        </div>
    }
    @if (ViewBag.Message != null)
    {
        <h3>@ViewBag.Message</h3>
    }
</div>
<script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {
        $("#TeacherId").prop('disabled', true);
        $("#CourseCode").prop('disabled', true);
        $("#CreditTaken").prop('disabled', true);
        $("#RemainingCredit").prop('disabled', true);
        $("#Name").prop('disabled', true);
        $("#Credit").prop('disabled', true);

        $("#CourseAssign").validate({
            rules: {

                TeacherId: "required",
                CourseCode: "required"
            },
            messages: {

                TeacherId: "Please select the teacher Name!",
                CourseCode: "Please select semester!"
            }
        });
        $("#DepartmentId").change(function () {
            var deptId = $("#DepartmentId").val();
            var json =
            {
                departmentId: deptId
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetDepartmentId", "CourseAssign")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    $("#TeacherId").find("option").remove();
                    //$("#TeacherId").empty();
                    //$("#CourseCode").empty();
                    $("#TeacherId").append('<option value="">--Select---</option');
                    //$("#CourseCode").append('<option value="">--Select---</option');
                    $.each(data, function (key, value) {
                        $("#TeacherId").prop('disabled', false);
                        $("#CourseCode").prop('disabled', false);
                        $("#TeacherId").append('<option value=' + value.Id + '>' + value.Name + '</option');
                    });
                }
            });

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetDepartmentIdByCourse", "CourseAssign")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    $("#CourseCode").find("option").remove();
                    //$("#TeacherId").empty();
                    //$("#CourseCode").empty();
                    //$("#TeacherId").append('<option value="">--Select---</option');
                    $("#CourseCode").append('<option value="">--Select---</option');
                    $.each(data, function (key, value) {
                        $("#TeacherId").prop('disabled', false);
                        $("#CourseCode").prop('disabled', false);
                        $("#CourseCode").append('<option value=' + value.CourseId + '>' + value.CourseCode + '</option>');
                    });
                }
            });
        });

        $("#TeacherId").change(function () {

            var tecId = $("#TeacherId").val();
            var json = { teacherId: tecId };

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetTeacherId", "CourseAssign")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    $.each(data, function (key, value) {
                        var creditTaken = value.CreditToken;
                        var creditLeft = value.ReminingCredit;
                        $("#CreditTaken").val(creditTaken);
                        $("#RemainingCredit").val(creditLeft);
                        
                    });
                }
            });
        });
       
        $("#CourseCode").change(function () {
            var couId = $("#CourseCode").val();
            //$("#studentId").empty();
            var json ={CourseId: couId};
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetCourseId", "CourseAssign")',
                //url: '/Student/GetStudentsByDepartmentId',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    $.each(data, function (key, value) {
                        var name = value.Name;
                        var credit = value.Credit;
                        $("#Name").val(name);
                        $("#Credit").val(credit);
                    });
                    //$("#click").click(function () {
                    //    var creditLeft = $("#RemainingCredit").val();
                    //    var courseCredit = $("#Credit").val();
                    //    if (creditLeft < courseCredit) {
                    //        var r = alert("Your Reamaining Credit is less!! Are you sure?")("Are you sure");
                    //        if (r == true) {
                    //            return true;
                    //        } else {
                    //            return false;

                    //        }
                    //    }
                    //});

                }
            });
        });

    });
    //function test() {
    //    var creditLeft = $("#RemainingCredit").val();
    //    var courseCredit = $("#Credit").val();
    //    if (creditLeft < courseCredit) {
    //        var r = alert()("Are you sure");
    //        if (r == true) {
    //            return true;
    //        } else {
    //            return false;

    //        }

    //    }

    //}
</script>
