@using iTextSharp.text.pdf.fonts.cmaps
@model UniversityManagementSystemWebApp.Models.StudentResult
@{
    //Layout = null;
    //Layout = "~/Views/Shared/_MyLayout1.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .field-validation-error {
        margin-left: 180px;
        color: red;
    }

    #wrapper {
        width: 60%;
        margin: 0 auto;
    }

    input {
        width: 240px;
    }
</style>

<div id="wrapper">
    <hr />
    <h3>Student Result</h3>
    <hr />
    @using (Html.BeginForm(null, null, FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(x => x.RegistrationNo, new { @class = "col-md-3 control-label" })
            @Html.DropDownListFor(x => x.RegistrationNo, new SelectList(ViewBag.RegNo, "Value", "Text"), new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.RegistrationNo)
        </div>
        <div class="form-group">
            @Html.Label("Name", new { @class = "col-md-3 control-label" })
            @Html.TextBox("Name", null, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Email", new { @class = "col-md-3 control-label" })
            @Html.TextBox("Email", null, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Department", new { @class = "col-md-3 control-label" })
            @Html.TextBox("Department", null, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.CourseId, new {@class = "col-md-3 control-label"})
            <select id="CourseId" name="CourseId" class="form-control">
                <option value="">--Select--</option>
            </select>
            @Html.ValidationMessageFor(x => x.CourseId)
        </div>
         <div class="form-group">
           @Html.LabelFor(x => x.GradeLetterId, new { @class = "col-md-3 control-label" })
            @Html.DropDownListFor(x => x.GradeLetterId, new SelectList(ViewBag.Grades, "Value", "Text"), new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.GradeLetterId)
        </div>
        <div class="col-md-offset-3 col-md-9">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    }
    @if (ViewBag.Message != null)
    {
        <h3>@ViewBag.Message</h3>
    }
</div>
@section Scripts {
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#Name").prop('disabled', true);
            $("#Email").prop('disabled', true);
            $("#Department").prop('disabled', true);
            $("#CourseId").prop('disabled', true);

            $("#RegistrationNo").change(function () {
                var regNo = $("#RegistrationNo").val();
                var json =
                {
                    registrationNo: regNo
                };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetRegNoByStudentInfo", "StudentResult")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        $("#CourseId").empty();
                        $("#CourseId").append('<option value="">--Select--</option>');
                        $.each(data, function (key, value) {
                            $("#CourseId").prop('disabled', false);

                            $("#Name").val(value.Name);
                            $("#Email").val(value.Email);
                            $("#Department").val(value.Department);
                            $("#CourseId").append('<option value=' + value.CourseId + '>' + value.CourseName + '</option>');
                        });
                    }
                });

            });
        });
    </script>
}
